<div class="packages-content">
    <form>
        <table cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>企业名</th>
                    <th>EID</th>
                    <th>Linux_L27I</th>
                    <th>Linux_L25I</th>
                    <th>Linux_LMIPS</th>
                    <th>Windows签名包</th>
                    <th>最后活跃时间</th>
                </tr>
            </thead>
            <tbody class="list_scroll">
                <tr>
                    <td colspan="8" style="text-align:center;">暂无数据</td>
                </tr>
            </tbody>
        </table>
    </form>
</div>