<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <form action="" method="POST" style="display:none;" target="ioa">
        <input name="requestNo" value="" />
        <input name="requestTime" value="" />
        <input name="cmdType" value="" />
        <input name="platformNo" value="" />
        <input name="requestSign" value="" />
        <input name="platformUserId" value="" />
        <input name="platformOrgId" value="" />
        <button type="submit">提交</button>
    </form>
    <script>
        window.parent.RsCore.frameDataLoad();
    </script>
</body>

</html>