<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" > </meta>
  <title>查看电子邮件</title>
  <link rel="stylesheet" href="{$pub}/dep/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="{$css}/forgotPwd.css">
  <!-- 删除了css -->
</head>
<body>
  <div class="container">
    <div class="row">
      <h1 class="logo-title">查看电子邮件</h1>
    </div>
    <div class="row panel">
      <p>我们已向您发送了一封包含完整重置密码链接的电子邮件。</p>
      <p>无法找到邮件？请检查您的垃圾邮件文件夹。</p>
      <p>如果您仍未登录，请让我们<a id="btnResendEmail" href="#" data-loading-text="邮件发送中...">重新发送电子邮件</a>或与我们客服联系。</p>
    </div>
  </div>
  <script src="{$pub}/dep/jquery.js"></script>
  <script src="{$pub}/dep/bootstrap/js/bootstrap.js"></script>
  <script src="{$js}/welcome/forgotPwdMsg.js"></script>
</body>
</html>