<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" > </meta>
    <title>瑞星安全云</title>
    <link rel="stylesheet" href="{$pub}/dep/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="{$pub}/dep/fontawesome/css/font-awesome.min.css">
    <!--[if IE 7]> 
      <link rel="stylesheet" href="Public/dep/fontawesome/css/font-awesome-ie7.min.css">
    <![endif]--> 
    <link rel="stylesheet" href="{$css}/welcome.css">
  </head>
  <body>
    <!--<div class="navbar navbar-fixed-top rs-page-header">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">瑞星安全云</a>
          <div class="nav-collapse collapse navbar-responsive-collapse">
            <ul class="nav">
              <li>
                <a href="#">产品介绍</a>
              </li>
              <li>
                <a href="#">为什么选我们</a>
              </li>
              <li>
                <a href="#">版本与定价</a>
              </li>
              <li>
                <a href="#">渠道合作</a>
              </li>
              <li>
                <a href="#">联系我们</a>
              </li>
            </ul>
            <ul class="nav pull-right">
              <li>
                <a href="index.php?m=home&c=Index&a=register">注册</a>
              </li>
              <li>
                <a href="index.php?m=home&c=Index&a=loginpage">登录</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>-->
    <div class="content clearfix">
      <div class="body clearfix" style="border-top:solid 2px #d6d9db;border-bottom:solid 2px #d6d9db;">
        <div class="left info">
          <h1 style="margin-top:130px;font-size:65px;">瑞星安全云首页</h1>
          <!--<p>xxxxxxx,xxxxxxxxxxxxxxxxxxxxxxxx xxxxx.xxxxxxx,xxxxxxxxxxxxxxxxxxxxxxxx xxxxx.xxxxxxx,xxxxxxxxxxxxxxxxxxxxxxxx xxxxx.xxxxxxx,xxxxxxxxxxxxxxxxxxxxxxxx xxxxx.
          xxxxxxx,xxxxxxxxxxxxxxxxxxxxxxxx xxxxx.xxxxxxx,xxxxxxxxxxxxxxxxxxxxxxxx xxxxx.xxxxxxx,xxxxxxxxxxxxxxxxxxxxxxxx xxxxx.
          xxxxxxx,xxxxxxxxxxxxxxxxxxxxxxxx xxxxx.xxxxxxx,xxxxxxxxxxxxxxxxxxxxxxxx xxxxx.</p>-->
        </div>
        <div class="right">
          <div class="login">
            <div class="login-head">登录</div>

            <div class="login-footer">
              <button id="btnLogin" type="button" class="btn btn-success" data-loading-text="登录中...">登录</button>
              <div>
                <a href="/index.php/index/findPass?type=1">忘记密码?</a>
                <span>|</span>
                <a href="/index.php/index/register">注册新账号</a>
                <span>|</span>
                <a href="/index.php/index/login">登录</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="clearfix" style="position: absolute; bottom: 0;width:100%;height:30px;line-height:30px;text-align:center;background-color:#eee;">
        版权所有&nbsp;北京瑞星信息技术有限公司&nbsp;&nbsp;许可证号：京ICP证080383号&nbsp;京ICP备08104897号
      </div>-->
    </div>
    <div class="clearfix" style="position: fixed; bottom: 0;width:100%;height:30px;line-height:30px;text-align:center;background-color:#eee;">
      版权所有&nbsp;北京瑞星信息技术有限公司&nbsp;&nbsp;许可证号：京ICP证080383号&nbsp;京ICP备08104897号
    </div>

    <script src="{$pub}/dep/jquery.js"></script>
    <script src="{$pub}/dep/jquery-placeholder/jquery.placeholder.js"></script>
    <script src="{$pub}/dep/bootstrap/js/bootstrap.js"></script>
    <script src="{$js}/welcome/login.js"></script>
  </body>
</html>