<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"> </meta>
    <title>忘记密码</title>
    <link rel="stylesheet" href="{$pub}/dep/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="{$pub}/dep/swiper/css/swiper.css">
    <link rel="stylesheet" href="{$css}/base.css">
    <link rel="stylesheet" href="{$css}/forgotPwd.css">
</head>

<body>
    <div class="bg" bgImg="{$pub}/img/banner_3.jpg">
        <!--<img src="{$pub}/img/banner_3.png">--></div>
    <div class="navbar navbar-static-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a href="/" class="logo"><img src="{$img}/logo2.png"><img src="{$img}/nav_txt.png"></a>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="left_side">
            <div class="slide swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="{$img}/side01.png"></div>
                    <div class="swiper-slide"><img src="{$img}/side02.png"></div>
                    <div class="swiper-slide"><img src="{$img}/side01.png"></div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <dl class="fgt_box">
            <dt>找回密码</dt>
            <dd>
                <div class="node_process">
                    <ul>
                        <li class="node node_f act"><i></i>
                            <p>输入信息</p>
                        </li>
                        <li class="node active"><i></i><span></span>
                            <p>重置密码</p>
                        </li>
                        <li class="node node_l"><i></i><span></span>
                            <p>完成</p>
                        </li>
                    </ul>
                </div>
                <form class="form-horizontal" action="">
                    <div class="control-group fgt_box_in">
                        <label class="control-label" for="">新密码：</label>
                        <div class="controls">
                            <input type="password" placeholder="请输入密码" name="txtPwd" id="txtPwd" />
                            <span class="pwdStrong hidden ml10">
                  <div>密码强度:<i></i></div>
                  <ul>
                    <li class="low"></li>
                    <li class="middle"></li>
                    <li class="high"></li>
                  </ul>
                </span>
                        </div>
                    </div>
                    <div class="control-group fgt_box_in mp70">
                        <label class="control-label" for="">确认密码：</label>
                        <div class="controls">
                            <input type="password" placeholder="请输入密码" name="txtRPwd" />
                        </div>
                    </div>
                    <div class="control-group fgt_box_btn">
                        <div class="controls">
                            <input type="button" value="重置密码" class="btn btn-large btn-block btn-purple w250 js_submit" />
                        </div>
                    </div>
                </form>
            </dd>
        </dl>
    </div>
    <div class="footer">
        <div>
            <span>地址：北京市中关村大街22号  中科大厦1305室</span>&nbsp;
            <span>邮编：100190</span>&nbsp;
            <span>总机：(010)82678866</span>
        </div>
        <div>
            <span>版权所有 北京瑞星信息技术股份有限公司</span>&nbsp;
            <span>许可证号：京ICP证080383号 京ICP备08104897</span>&nbsp;
            <span>总机：(010)82678866</span>
        </div>
        <div>
            <span>备案编号：京ICP备08104897号-9</span>&nbsp;
            <span>京网文[2011]0121-043号</span>
        </div>
    </div>
    <script src="{$pub}/dep/jquery.js"></script>
    <script src="{$pub}/dep/bootstrap/js/bootstrap.js"></script>
    <script src="{$pub}/dep/jquery-placeholder/jquery.enplaceholder.js"></script>
    <script src="{$pub}/dep/bootbox/bootbox.js"></script>
    <script src="{$pub}/dep/jquery-validation/jquery.validate.js"></script>
    <script src="{$pub}/dep/jquery-validation/custom-methods.js"></script>
    <script src="{$pub}/dep/swiper/js/swiper.js"></script>
    <script src="{$js}/plugin/assist.js"></script>
    <script src="{$js}/plugin/fixbg.js"></script>
    <script src="{$js}/welcome/resetpwd.js"></script>
</body>

</html>