<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>安全云产品使用指南</title>
    <link href="../css/instruction.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="left_side">
            <div class="icon"><img src="../img/risingicon.png" title="rising"></div>

        
            <!-- 菜单栏start -->

            <div class="menu">
                <ul id="nav">
                    <li class=" current"><a href="#安全中心">安全中心</a></li>
                    <li><a href="#全网终端">全网终端</a></li>
                    <li><a href="#病毒查杀">病毒查杀</a></li>
                    <li><a href="#上网防护">上网防护</a></li>
                    <li><a href="#安全手机">安全手机</a></li>
                    <li><a href="#安全网盘">安全网盘</a></li>
                    <li><a href="#报告预警">报告预警</a></li>
                    <li><a href="#我的中心">我的中心</a></li>
                </ul>
            </div>

            <!-- 菜单栏end -->


        </div>
        <div class="right_side" id="用户许可协议">
            <div class="title">安全云产品使用指南</div>


            <!-- 内容区start -->

            <div class="content">
                <div id="瑞星安全云中心"></div>
                <div class="detail" id="安全中心"><i>安全中心</i>
                    <p>安全云中心分为消息中心、终端部署情况、全网数据统计三部分。如图所示。</p>
                    <div class="detail_title">消息中心</div>
                    <p>消息中心可以查看安全云中心的所有消息，包括绑定到安全云中心的客户端的信息，可以通过点击不同分类进行选择性查看，分类如图所示。</p>
                    <p>全部：查看所有的终端</p>
                        <span>系统类：按系统分类进行显示</span>
                        <span>安全类：按安全严重程度显示</span>
                        <span>日志类：按日志的排列顺序显示</span>
                        <span>厂商类：以厂商名称分类显示</span>
                    <p>将鼠标移动到某条消息上，消息右下角将显示图标 ，点击 即可删除该条消息。</p>
                    <p>点击【查看更多】，进入消息中心的详细页面。如图所示。</p>
                    <p>终端部署情况主要展示的终端部署统计数据，如图所示。</p>
                    <div class="detail_title">终端部署情况</div>
                    <p>终端部署情况主要展示的终端部署统计数据，如图所示。</p>
                    <p>区域上部展示的是PC端在线和离线数量及其百分比，移动端在线和离线数量及其百分比。加入中心的终端数量。</p>
                    <p>区域下部展示的是终端软件下载通道，目前提供的是Windows版、Linux版和Android版（移动终端）。Android版本也可以通过扫描右侧的二维码进行下载。</p>
                    <div class="detail_title">全网数据统计</div>
                    <p>全网数据统计展示了威胁终端、操作系统分布、病毒数量、当日流量排行、违规联网、骚扰拦截和恶意网址拦截的统计图表。如图所示。</p>
                    <p>点击 按钮，可以对显示图标的大小进行调整，点击【应用】保存设置，也可以点击【恢复默认】，还原设置，如图所示。</p>
                    <p>将鼠标移动到某个图表标题栏位置，当鼠标由箭头变为 时，按住鼠标左键不放，拖拽图表，可以移动到任意位置，实现图表位置的调整。</p>
                    <p><b>&nbsp;威胁终端</b></p>
                    <p>威胁终端：通过点击折线图下方的病毒、网址、骚扰和联网，让字体由灰色变成黑色，表示选中该项目，折线图将展示相应项目的图形。</p>
                    <p>将鼠标放置在折线图上的拐点上，可以显示该拐点的数据详情，如图所示。</p>
                    <p>点击该拐点，将进入相应的数据统计详细页面。</p>
                    <p><b>&nbsp;操作系统分布</b></p>
                    <p>操作系统分布展示的是Windows系统、Linux系统和Android系统各自所占比例和分布情况。如图所示。</p>
                    <p><b>&nbsp;病毒数量</b></p>
                    <p>病毒数量统计图表，展示了当日病毒数量，并计算出了本月日平均病毒数量。</p>
                    <p>下方图表则详细展示了每日病毒数量，每一类病毒各自的数量。如图所示。</p>
                    <p>将鼠标放在某日的统计图上，能看到当日病毒的详情，如图所示。</p>
                    <p>点击图表下的病毒、蠕虫、rookit、广告、木马和后门，可以选择（再次点击是取消）展示该类病毒统计图。</p>
                    <p>点击图表右上角的按染毒次数，图表则按染毒次数统计；点击按染毒文件，图表则按染毒文件数量统计。</p>
                    <p>点击某日的统计图表立方图，则进入该日病毒详情页面。</p>
                    <p><b>&nbsp;当日流量排行</b></p>
                    <p>当日流量排行展示的是安全云中心各终端当日流量使用排行榜。根据监控流量异常的终端，分析流量异常原因。如图所示，红色表示上行流量，紫色表示下行流量。</p>
                    <p><b>&nbsp;违规联网</b></p>
                    <p>违规联网展示最近七天各终端违规联网统计数据。如图所示。</p>
                    <p>点击图表下的禁止网址、程序联网、共享访问，可以选择（再次点击是取消展示）展示该类违规的统计图。</p>
                    <p>将鼠标放在某日的统计图上，能看到当日违规的详情，如图所示。</p>
                    <p>点击某日的统计图表拐点，则进入该日联网违规详情页面。</p>
                    <p><b>&nbsp;骚扰拦截</b></p>
                    <p>骚扰拦截针对Android端的电话和短信骚扰拦截进行统计，以饼状图展示，如图所示。</p>
                    <p>点击图表下的电话、短信，可以选择（再次点击是取消）展示该类骚扰拦截的统计图。</p>
                    <p><b>&nbsp;恶意网址拦截</b></p>
                    <p>恶意网址拦截图表统计不同类别的恶意网址拦截统计情况，对近七天不同维度的恶意网址进行展示。维度包括恶意网址库、搜索保护、广告过滤、恶意下载、钓鱼和XSS库，如图所示。</p>
                </div>
                <div class="detail" id="全网终端"><i>全网终端</i>
                    <div class="detail_title">概览</div>
                    <p>概览展示了所有安全云终端，在列表中可以看到终端名称、终端IP地址、终端MAC、终端软件版本、终端操作系统和分组名称。通过点击各列标题栏后的小三角，列表将依照该列进行排序， 向上三角表示升序排列，向下三角表示降序排列。如图所示。</p>
                    <p>在列表的右上角，可以点击 刷新列表，点击 进行搜索，可以进行过滤搜索。在弹出的搜索框中，可以根据在线状态进行选择：在线与不在线。筛选条件包括：终端名称IP地址、MAC、版本、操作系统。选择好筛选条件后，点击【筛选】。如图所示。</p>
                    <p>点击列表右上角的 ，可以自定义需要显示的列，勾选表示显示该列，不选则不显示。如图所示。</p>
                    <p>在列表左上角，可以看到立即升级、发消息和移动到三个按钮。如图所示。</p>
                    <p>当需要升级客户端的软件时，在列表中勾选需要升级的终端，然后点击立即升级，则所勾选终端自动升级软件。点击立即升级后的下三角，还可以进行立即修复操作，如图所示。</p>
                    <p>在终端列表中，勾选需要接受消息的终端后，点击发送消息，则弹出如图所示窗口。</p>
                    <p>输入消息内容，点击确定，则消息会发送到所选终端，并在桌面上以弹窗的方式提示，如图所示。</p>
                    <p>勾选需要移动分组的终端，点击【移动到】按钮，弹出如图所示窗口。</p>
                    <p>在窗口中可以修改终端的名称，选择目标组。点击【确定】保存设置。在左侧组列表中将看到终端将在新的分组中显示。</p>
                    <p>【发消息】和【移动到】也可以在左侧组管理中实现，操作方式一样，如图所示。</p>
                    <p>在终端名一列，可以通过点击终端名称，直接进入该终端的详情页面。包括产品信息和病毒防护信息，如图所示。</p>
                    <p>点击右上角【返回终端列表】返回到概览主界面。</p>
                    <div class="detail_title">日志</div>
                    <p>日志界面集中显示所有终端的安装和升级日志信息。如图所示。</p>
                    <p>在日志列表中可以看到终端名称、IP地址、时间、动作、条目、旧版本、新版本、重启标志。通过点击各列标题栏后的小三角，列表将依照该列进行排序， 向上三角表示升序排列，向下三角表示降序排列。</p>
                    <p>在列表的右上角，可以点击 刷新列表，点击 进行搜索，可以进行过滤搜索。在弹出的搜索框中，可以对日志进行过滤，过滤条件包括：时间范围、动作、条目、筛选条件。如图所示。</p>
                    <p>筛选条件包括：终端名称、IP地址、新版本。选择好筛选条件后，点击【筛选】。如图所示。</p>
                    <p>点击列表右上角的 ，可以自定义需要显示的列，勾选表示显示该列，不选则不显示。如图所示。</p>
                    <div class="detail_title">设置</div>
                    <p>如果在左侧终端分组中选择“已加入终端”界面会变成“自动规则”设置界面，如图所示。</p>
                    <p>自由规则可以进行自定义修改，也可以新增规则。点击【添加】后弹出窗口如图所示。</p>
                    <p>点击【重新入组】，将按规则重新将所有终端自动加入对应的组，如图所示。</p>
                    <p>如果在左侧终端分组中选择具体组，则默认打开已建立好分组的界面，如图所示。</p>
                    <p>管理员身份设置用于修改管理员密码。</p>
                    <p>托盘设置可以设置隐藏任务栏托盘图标。</p>
                    <p>软件更新设置软件升级内容和升级模式。升级内容可以选择【升级所有组件】或者选择【仅升级病毒库】。升级模式可以设置自动和手动。自动模式可设置升级时间和日期。</p>
                    <p>最后是代理地址的设置。</p>
                    <p>设置完成后点击右下角【应用】保存。</p>
                    <div class="detail_title">备注</div>
                    <p>备注用于对中心终端列表添加备注，直接在备注列输入备注内容，输入完毕自动保存。如图所示。</p>
                    <div class="detail_title">历史消息</div>
                    <p>历史消息记录的是中心对终端发送的消息，和中心自动生成的消息。如图所示。</p>
                    <p>可以通过搜索进行过滤和筛选。</p>
                    <div class="detail_title">命令跟踪</div>

                    <p>命令跟踪记录了中心对终端发起的所有命令和命令执行情况，如图所示。</p>
                    <p>在命令跟踪列表中可以看到发起时间、消息对象、消息内容、下发状态。通过点击各列标题栏后的小三角，列表将依照该列进行排序， 向上三角表示升序排列，向下三角表示降序排列。</p>
                    <p>在列表的右上角，可以点击 刷新列表，点击 进行搜索，可以进行过滤搜索。在弹出的搜索框中，可以对命令跟踪进行过滤，过滤条件包括：时间范围、下发状态、执行状态、命令类型。如图所示。</p>
                    <p>命令类型包括：常用命令、终端管理、病毒查杀、上网防护和安全手机。选择好筛选条件后，点击【筛选】。如图所示。</p>
                    <p>点击列表右上角的 ，可以自定义需要显示的列，勾选表示显示该列，不选则不显示。如图所示。</p>
                </div>
                <div class="detail" id="病毒查杀"><i>病毒查杀</i>
                    <div class="detail_title">概览</div>
                    <p>概览展示了所有安全云终端的查杀情况，在列表中可以看到终端名称、IP地址、病毒库版本、文件监控、邮件监控、系统加固和应用加固。通过点击各列标题栏后的小三角，列表将依照该列进行排序， 向上三角表示升序排列，向下三角表示降序排列。如图所示。</p>
                    <p>在列表的右上角，可以点击 刷新列表，点击 进行搜索，可以进行过滤搜索。在弹出的搜索框中，可以根据在线状态进行选择：在线与不在线。筛选条件包括：在线状态、文件监控、邮件监控、系统加固、应用加固、筛选条件。选择好后，点击【筛选】。如图所示。</p>
                    <p>点击列表右上角的 ，可以自定义需要显示的列，勾选表示显示该列，不选则不显示。如图所示。</p>
                    <p>在列表左上角，可以看到快速查杀、全盘查杀、文件监控、邮件监控、共享监控五个按钮。如图所示。</p>
                    <p>当需要进行这五个操作时，在列表中勾选需要操作的终端，然后点击相应的操作按钮，则所勾选终端自动执行相应的操作，并弹出提示框，如图所示。</p>
                    <p>例如，Windows终端接受到中心的命令后，正在执行命令，进行快速查杀，如图所示。</p>
                    <p>要停止相应的操作，只需要将鼠标悬停在该操作上，然后点击弹出的【停止】按钮。如图所示。</p>
                    <p>Linux终端和Android终端的命令执行方式类似。</p>
                    <p>同样，这五个操作也可以在左侧组管理中实现，如图所示。</p>
                    <p>在终端名一列，可以通过点击终端名称，直接进入该终端的详情页面。包括产品信息和病毒防护信息，如图所示。</p>
                    <p>点击右上角【返回列表】返回到概览主界面。</p>
                    <div class="detail_title">日志</div>
                    <p>日志界面集中显示所有终端的病毒扫描等日志信息。如图所示。</p>
                    <p>日志主要显示病毒详情、扫描事件、系统加固和应用加固的日志。分别点击相应的项目，即可查看对应的日志，这里以病毒详情为例，其他项目类似。</p>
                    <p>在病毒详情页面，可以看到列表分为病毒名称、病毒分类、病毒数和染毒客户端几列。通过点击各列标题栏后的小三角，列表将依照该列进行排序， 向上三角表示升序排列，向下三角表示降序排列。</p>
                    <p>在列表的右上角，可以点击 刷新列表，点击 进行搜索，可以进行过滤搜索。在弹出的搜索框中，可以对日志进行过滤，过滤条件包括：时间范围、来源状态、处理方式、筛选条件。如图所示。</p>
                    <p>筛选条件包括：病毒名、终端名称和IP地址。选择好筛选条件后，点击【筛选】。如图所示。</p>
                    <p>点击列表右上角的 ，可以自定义需要显示的列，勾选表示显示该列，不选则不显示。如图所示。</p>
                    <p>同样，可以通过点击右侧的分类显示按钮 ，实现按照不同按钮显示日志。如图所示为【按详情显示】。</p>
                    <div class="detail_title">设置</div>
                    <p>设置可对组、终端进行设置，可以分别为每个组、终端设置不同的规则，这些规则包括常规项、白名单、黑名单、杀毒备份、查杀病毒、文件监控、邮件监控、共享监控、U盘监控、系统加固、应用加固和Linux防病毒。如图所示。</p>
                    <p>可以点击相应的按钮，进入相应的详细设置项，或者向下滑动滚动条（滚动鼠标滚轮），找到对应设置项。</p>
                    <p><b>&nbsp;常规项</b></p>
                    <p>常规项设置可设置项为：运行环境、病毒跟踪、病毒日志、扫描缓存、云查杀、专项查杀。</p>
                    <p>点击【病毒查杀】>【默认分组】>【设置】>【常规项】，然后可以看到瑞星安全云中心常规项设置，如图所示。</p>
                    <span>运行环境：勾选【运行环境智能判断】选项后，软件将自动设置好参数，适应系统，发挥最好的性能。</span>
                    <span>病毒跟踪：勾选【病毒跟踪】选项后，软件将启用病毒跟踪功能，对常见和流行性病毒进行实时跟踪。</span>
                    <span>病毒日志：勾选【病毒日志】选项后，软件将会对系统查杀和扫描的病毒信息进行记录，方便进行病毒分析和病毒防疫。</span>
                    <span>扫描缓存：勾选【扫描缓存】选项后，软件将开启二次扫描加速功能，对一段时间内扫描状态进行缓存和优化，使扫描更快、更流畅。</span>
                    <span>设定扫描模式：扫描模式分为自动模式、办公模式、高速模式，下面分别介绍。</span>
                    <p>快速查杀模式默认选择“自动模式”，可根据实际需要选择“办公模式”或者“高速模式”。“办公模式”可以降低CPU的占用率，查杀时电脑卡顿推荐使用该模式；“高速模式”可以提高查杀速度，需要节省查杀时间并且CPU频率较高可使用该模式。</p>
                    <span>云查杀</span>
                    <span>	CPU占用百分比：可以限定云查杀时对CPU的占用，可以自定义为5%-100%范围内。</span>
                    <span>	云连接测试时间间隔：云查杀时，当连接终端失败时，重新发起连接的时间间隔。</span>
                    <span>	启用公有云：勾选启用公有云后，云中心采用瑞星公司的公有云。</span>
                    <span>	添加私有云：使用私有云时，点击【添加】，然后填写服务器地址或IP、服务器端口、请求模式、批量查询数量限制和服务器名称。弹出如图所示。</span>
                    <span>专项查杀：勾选相应的病毒类型，安全云中心进行云扫描时即可针对特定病毒类型查杀。</span>
                    <span>	<b>飞客虫蠕虫</b>：飞客虫蠕虫(Hack Exploit Win32 MS08-067)是一个利用微软 MS08-067 漏洞发起攻击的蠕虫病毒。该病毒会对随机生成的IP地址发起攻击，攻击成功后会下载一个木马病毒，通过修改注册表键值来使安全软件功能失效。病毒会修改hosts文件，使用户无法正常访问安全厂商网站及其服务。</span>
                    <span>	<b>雨云病毒</b>：雨云病毒为蠕虫病毒，中毒后的表现为任务管理器中有wscript.exe运行，在桌面上有名为yuyun_ca的图标，并且无法删除。通过共享方式进行传播，在局域网中很容易传播。</span>
                    <span>	威客虫蠕虫免疫：威客虫蠕虫病毒中毒表现为无法启动系统，若启动系统后进行全盘扫描，则直接死机，该蠕虫病毒主要针对硬盘，中毒后只能格式化整块硬盘。</span>
                    <span>	DLL劫持免疫：DLL劫持表现为，当一个可执行文件运行时，Windows加载器将可执行模块映射到进程的地址空间中，加载器分析可执行模块的输入表，并设法找出任何需要的DLL，并将它们映射到进程的地址空间中。</span>
                    <p>所有设置项设置完成后，点击右下角【应用】 ，保存设置。</p>
                    <p><b>&nbsp;白名单</b></p>
                    <p>白名单用于添加那些不需要扫描和查杀的文件，添加白名单后，软件扫描和监控时将智能跳过这些文件。白名单添加方式分为两种：一种是以文件/目录方式，另一种是以文件后缀方式。</p>
                    <p>点击【病毒查杀】>【默认分组】>【设置】>【白名单】，进入瑞星安全云白名单设置，如图所示。</p>
                    <p>在输入框中输入文件/目录，点击 ，列表就会显示添加的文件/目录。点击操作下的 可以从白名单中删除文件/目录。</p>
                    <p>所有设置项设置完成后，点击右下角【应用】 ，保存设置。</p>
                    <p><b>&nbsp;黑名单</b></p>
                    <p>与白名单相反，黑名单用于添加那些必须要扫描和查杀的文件，添加黑名单后，软件扫描和监控时将立即隔离或删除这些文件。</p>
                    <p>点击【病毒查杀】>【默认分组】>【设置】>【黑名单】，进入瑞星安全云中心黑名单设置，如图所示。</p>
                    <p>点击【文件】后的下三角，选择需要加入黑名单的类型，在输入框中输入文件/目录，点击 ，列表就会显示添加的文件/目录。点击操作下的 可以从黑名单中删除文件/目录。</p>
                    <p>所有设置项设置完成后，点击右下角【应用】 ，保存设置。</p>
                    <p><b>&nbsp;杀毒备份</b></p>
                    <p>杀毒备份是将疑似病毒的文件隔离起来，既可以有效防止继续感染其他文件，又可以保证不出现文件丢失。</p>
                    <p>点击【病毒查杀】>【默认分组】>【设置】>【杀毒备份】，进入瑞星安全云中心杀毒备份设置，如图所示。</p>
                    <p>杀毒备份设置项如下：</p>
                    <p>备份文件：勾选【杀毒时备份原文件】，即可将病毒文件备份到隔离区，供以后使用。</p>
                    <p>文件超长：查杀时，文件很大，可以设置询问、直接删除、不处理。</p>
                    <p>空间不足：当隔离区备份的文件过多，导致隔离区空间不够时，空间的处理方式可以自动覆盖老文件，或者空间自动增长。用户根据具体环境进行选择。</p>
                    <p>备份失败：备份的病毒文件由于时间过长等原因导致失效，可以设置询问我、删除文件和不处理的方式。用户根据具体环境进行选择。</p>
                    <p>所有设置项设置完成后，点击右下角【应用】 ，保存设置。</p>
                    <p><b>&nbsp;查杀病毒</b></p>
                    <p>查杀病毒可以设置扫描文件类型、查杀引擎的选择等。</p>
                    <p>点击【病毒查杀】>【默认分组】>【设置】>【查杀病毒】，进入瑞星安全云中心查杀病毒设置，如图所示。</p>
                    <p>启动定时全盘扫描：勾选【启动定时全盘扫描】，设置终端定时全盘扫描功能，可以设置为每天指定时间扫描；也可以设置为每周的特定日期和时间开始扫描。如图所示。</p>
                    <p>启动定时快速扫描：勾选【启动定时快速扫描】开启，设置终端定时全盘扫描功能，可以设置为每天指定时间扫描；也可以设置为每周的特定日期和时间开始扫描。如图所示。</p>
                    <p>文件类型：杀毒软件需要在查杀时扫描的文件类型，默认为“所有文件”，用户也可以自定义为“程序及文档”。</p>
                    <p>查杀引擎：杀毒软件带有4个查杀引擎，分别针对不同类型的病毒和安全威胁。勾选“仅查杀流行病毒”，会重点查杀最近比较活跃的病毒；勾选“启发式查杀”，可以有效的对可疑的文件查杀；勾选“压缩包检查”，并设置好压缩包的容量，查杀时可以嵌入到压缩包中查杀。</p>
                    <p>发现病毒：发现病毒的处理方式，可选自动或者手动。自动方式无需用户确认，自行清除病毒文件；手动处理方式，需要用户确认是保留还是删除病毒文件。</p>
                    <p>锁定管理员扫描任务：不锁定，在终端可以对管理员下达的命令进行暂停和停止；禁止停止，终端无法对管理员的命令停止操作，但是可以暂停；禁止暂停、停止，终端无法对管理员的命令做暂停、停止操作。</p>
                    <p>启用云扫描引擎：勾选后，查杀病毒将使用云引擎进行扫描。</p>
                    <p>所有设置项设置完成后，点击右下角【应用】 ，保存设置。</p>
                    <p><b>&nbsp;文件监控</b></p>
                    <p>文件监控能对终端的读写、文件、程序进行实时保护，一旦发现可疑文件和可疑操作立即拦截。</p>
                    <p>点击【病毒查杀】>【默认分组】>【设置】>【文件监控】，进入瑞星安全云中心文件监控设置，如图所示。</p>
                    <p>开机启用：勾选开机启用，否则需要每次使用时手动打开文件监控功能。</p>
                    <p>锁定不允许终端关闭监控：这是文件监控锁定的总开关，勾选后，在终端软件设置里将不能关闭文件监控的所有功能，如终端需要关闭文件监控的某些功能，请去掉勾选。</p>
                    <p>启用智能监控：智能监控，能够自动的监控重要文件，勾选开启后，根据系统算法选择需要监控的文件和类型。</p>
                    <p>启用内核监控：内核监控，能够对系统内核进行实时监控，保证系统安全，勾选开启后，客户端将在计算机启动时默认开启内核监控。</p>
                    <p>启用智能黑名单：智能黑名单，自动拦截根据智能算法生成的程序和进程黑名单，勾选后，客户端将在计算机启动时默认开启智能黑名单。</p>
                    <p>通知处理结果：勾选后，安全云将通知管理员相关监控的结果。</p>
                    <p>文件类型：可以选择【所有文件】或者【程序和文档】。</p>
                    <p>监控加速：勾选【信任程序分析】，功能生效。将对计算机的程序进行信任分析。</p>
                    <p>嵌入查杀：勾选【启用嵌入式查杀】，嵌入式查杀功能生效。</p>
                    <p>查杀引擎：勾选【仅查杀流行病毒】，即对活跃病毒进行重点的查杀；勾选【启发式查杀】，即将所有的可疑文件都列入查杀范围；勾选【启动压缩包查杀】，即可以查杀压缩包内的文件，同时对压缩包的大小可以进行限定。</p>
                    <p>发现病毒：选择发现病毒时的处理方式，可选择【自动处理】，如需手动处理，则选择【询问用户】。</p>
                    <p>启用云扫描引擎：勾选后，查杀病毒将使用云引擎进行扫描。</p>
                    <p>所有设置项设置完成后，点击右下角【应用】 ，保存设置。</p>
                    <p><b>&nbsp;邮件监控</b></p>
                    <p>邮件监控功能可对来往邮件及其附件进行及时查杀，对可疑邮件进行拦截，并阻止其继续在网络中传播。</p>
                    <p>点击【病毒查杀】>【默认分组】>【设置】>【邮件监控】，进入瑞星安全云中心邮件监控设置，如图所示。</p>
                    <p>开机启用：勾选开机启用，否则需要每次使用时手动打开邮件监控功能。</p>
                    <p>锁定不允许终端关闭监控：这是邮件监控锁定的总开关，勾选后，在终端软件设置里将不能关闭邮件监控的所有功能，如终端需要关闭邮件监控的某些功能，请去掉勾选。</p>
                    <p>文件类型：可以选择【所有】或者【程序和文档】。</p>
                    <p>查杀引擎：勾选【仅查杀流行病毒】，即对活跃病毒进行重点的查杀；勾选【启发式查杀】，即将所有的可疑文件都列入查杀范围；勾选【启动压缩包查杀】，即可以查杀压缩包内的文件，同时对压缩包的大小可以进行限定。</p>
                    <p>发现病毒：发现病毒处理方式，可以选择【自动处理】或者【不处理】。</p>
                    <p>扫描结果：扫描完邮件及其附件后的提示方式，可选项包括【不提示】、【发现病毒时提示】和【有病毒，无病毒都提示】。</p>
                    <p>端口策略：设置需要监控的邮件端口，默认已经设置了25和110端口，请用户根据自身具体邮件端口号进行设置，并选择相应的协议。点击 添加端口策略，点击 删除已经存在的端口策略。</p>
                    <p>所有设置项设置完成后，点击右下角【应用】 ，保存设置。</p>
                    <p><b>&nbsp;共享监控</b></p>
                    <p>共享监控是对计算机共享监控的设置，可设置共享文件发现病毒时处理方式和提示方式。</p>
                    <p>点击【病毒查杀】>【默认分组】>【设置】>【共享监控】，进入瑞星安全云中心共享监控设置，如图所示。</p>
                    <p>共享监控：勾选开机启用，否则需要每次使用时手动打开共享监控功能。</p>
                    <p>文件类型：可以选择【所有】或者【程序和文档】。</p>
                    <p>查杀引擎：勾选【仅查杀流行病毒】，即对活跃病毒进行重点的查杀；勾选【启发式查杀】，即将所有的可疑文件都列入查杀范围；勾选【启动压缩包查杀】，即可以查杀压缩包内的文件，同时对压缩包的大小可以进行限定。</p>
                    <p>发现病毒：发现病毒处理方式，可以选择【自动处理】、【手动处理】或者【不处理】。</p>
                    <p>扫描结果：扫描完邮件及其附件后的提示方式，可选项包括【提示】、【仅查杀结果提示】和【仅查杀成功提示】。</p>
                    <p>启用云扫描引擎：勾选后，查杀病毒将使用云引擎进行扫描。</p>
                    <p>所有设置项设置完成后，点击右下角【应用】 ，保存设置。</p>
                    <p><b>&nbsp;U盘监控</b></p>
                    <p>U盘监控，对U盘进行防护，能有效的防止病毒从U盘感染计算机。</p>
                    <p>点击【病毒查杀】>【默认分组】>【设置】>【U盘监控】，进入瑞星安全云中心U盘监控设置，如图所示。</p>
                    <p>启用U盘监控：勾选后，启用U盘监控功能。</p>
                    <p>插入U盘时：选择【询问是否查杀】或者【立即查杀】。</p>
                    <p>查杀深度：可以设置对U盘文件的查杀递归层次，数字设置越大，越能对目录深的子文件进行查杀。</p>
                    <p>所有设置项设置完成后，点击右下角【应用】 ，保存设置。</p>
                    <p><b>&nbsp;系统加固</b></p>
                    <p>对系统的重要文件进行加固防护，保护系统安全，对破坏系统文件类型病毒有很好的防护效果。</p>
                    <p>点击【病毒查杀】>【默认分组】>【设置】>【系统加固】，进入瑞星安全云中心系统加固设置，如图所示。</p>
                    <p>开机启用：勾选后，开机自动启用系统加固功能。</p>
                    <p>发现威胁：【自动处理】或者【通知我】。</p>
                    <p>拦截日志：勾选【记录拦截日志】，则在日志中心产生日志记录，否则不生成日志。</p>
                    <p>监控灵敏度：分为【低】、【中】、【高】，灵敏度越高，需要消耗更多的系统资源，推荐选择【中】。</p>
                    <p>审计模式：勾选【开启】后，审计模式生效。开启审计模式后，对应监控灵敏度级别的规则，全都自动放过，并记录动作日志，方便监控、了解所有具体动作行为。</p>
                    <p>其他：勾选【放过带数字签名的程序】，对系统中已经获得微软等安全数字签名认证的程序一律放行。</p>
                    <p>所有设置项设置完成后，点击右下角【应用】 ，保存设置。</p>
                    <p><b>&nbsp;应用加固</b></p>
                    <p>对系统安装的应用进行加固，防止病毒或木马对系统上的应用进行破坏，或者是阻止木马盗取系统应用数据。</p>
                    <p>点击【病毒查杀】>【默认分组】>【设置】>【应用加固】，进入瑞星安全云中心应用加固设置，如图所示。</p>
                    <p>发现威胁：选择【允许运行】，是继续让威胁应用运行，选择【禁止运行】，让威胁应用立即停止运行。</p>
                    <p>处理方式：发现威胁后通知用户的方式，要么选【自动处理】，即不通知；要么选【通知我】，即以弹窗的形式提醒用户威胁。</p>
                    <p>拦截日志：勾选【记录拦截日志】后，在日志中心将产生应用加固的日志信息。否则没有应用加固拦截日志。</p>
                    <p>启动弹框：勾选【启动时弹出软件保护框】，在计算机启动时弹出软件对计算机的保护信息。</p>
                    <p>所有设置项设置完成后，点击右下角【应用】 ，保存设置。</p>
                    <p><b>&nbsp;Linux防病毒</b></p>
                    <p>Linux防病毒是专门针对Linux客户端的设置项，本设置只对瑞星安全云Linux客户端生效。云中心设置项包括：扫描优化、扫描路径、定时扫描和病毒设置。</p>
                    <p>点击【病毒查杀】>【默认分组】>【设置】>【Linux防病毒】，进入瑞星安全云中心Linux防病毒设置，如图所示。</p>
                    <p>扫描优化：勾选后，设置需要扫描的时间段（如：最近3天更新的文件），还可以设置扫描文件的大小。</p>
                    <p>扫描路径：在输入框中填写需要扫描的Linux文件路径，勾选忽略以下路径，然后添加需要忽略的路径。在路径列表中将显示已输入的路径列表。</p>
                    <p>定时扫描：勾选后，可以设定扫描的时间和日期，可以选择一周的任意一天。</p>
                    <p>病毒设置分三项，如下：</p>
                    <p>发现病毒时：可以选择清除病毒、删除病毒文件、不处理的任一项。</p>
                    <p>清除失败时：可以选择删除染毒文件、不处理的任一项。</p>
                    <p>隔离失败时：可以选择清除病毒、删除病毒文件、不处理的任一项。</p>
                </div>
                <div class="detail" id="上网防护"><i>上网防护</i>
                    <div class="detail_title">概览</div>
                    <p>概览展示了所有安全云终端的终端名称和IP地址，还展示了网络访问、黑客攻击、联网程序、流量管理、共享管理的开启状态。通过点击各列标题栏后的小三角，列表将依照该列进行排序， 向上三角表示升序排列，向下三角表示降序排列。如图所示。<p>
                    <p>在列表的右上角，可以点击 刷新列表，点击 进行搜索，可以进行过滤搜索。在弹出的搜索框中，可以根据各功能的开启状态进行过滤，同时在筛选条件一栏可以选择：IP地址和终端名称。选择好后，点击【筛选】。如图所示。<p>
                    <p>点击列表右上角的 ，可以自定义需要显示的列，勾选表示显示该列，不选则不显示。如图所示。<p>
                    <p>在列表左上角，可以看到木马网址、钓鱼网址、恶意下载、脚本攻击、索引结果、广告过滤和防黑客攻击七个按钮。如图所示。<p>
                    <p>当需要进行这七个操作时，在列表中勾选需要操作的终端，然后点击相应的操作按钮，则所勾选终端自动执行相应的操作，并弹出提示框，如图所示。<p>
                    <p>要停止相应的操作，只需要将鼠标悬停在该操作上，然后点击弹出的【关闭】按钮。如图所示。<p>
                    <p>同样，这七个操作也可以在左侧组管理中实现，如图所示。<p>
                    <p>在终端名所在列，可以通过点击终端名称，直接进入该终端的详情页面。包括 产品信息和病毒防护信息，如图所示。<p>
                    <p>点击右上角【返回列表】返回到概览主界面。<p>
                    <div class="detail_title">日志</div>
                    <p>日志界面集中显示所有终端的上网防护日志信息。如图所示。</p>
                    <p>通过日志，可以查看终端名称和IP地址，以及其对应的拦截时间和拦截网址域名。</p>
                    <p>通过点击各个防护项，查看对应的日志。如图所示。</p>
                    <p>点击右上角的 可以选择列表的显示方式。</p>
                    <p>【按详情显示】显示的是个终端日志详细信息；【按终端显示】显示的是终端的日志统计信息。如图所示。</p>
                    <p><b>&nbsp;恶意网址</b></p>
                    <p>恶意网址的日志可以查看访问恶意网址的计算机名称、IP地址、拦截时间、网址分类、网址、域名等。如图所示。</p>
                    <p><b>&nbsp;黑客攻击</b></p>
                    <p>黑客攻击日志记录了黑客攻击的详情，便于查询异常和问题。记录信息包括计算机名称、IP地址、攻击时间、攻击目标、黑客、状态和拦截原因。如图所示。</p>
                    <p><b>&nbsp;广告过滤</b></p>
                    <p>广告过滤日志记录了客户端过滤的广告内容和信息，包括过滤的计算机名称、IP地址、拦截时间、拦截网址和域名等信息。如图所示。</p>
                    <p><b>&nbsp;网址访问</b></p>
                    <p>网址访问记录了客户端访问的网站及其记录。记录信息涵盖了计算机名称、IP地址、访问时间、标题、网址和状态。如图所示。</p>
                    <p><b>&nbsp;联网程序</b></p>
                    <p>联网程序日志记录了客户端的应用程序联网记录。包括计算机名称、IP地址、访问时间、程序、访问网址、本机地址、类型、允许联网和描述。如图所示。</p>
                    <p><b>&nbsp;共享访问</b></p>
                    <p>共享访问日志记录了共享文件的访问者和操作信息，包括访问的路径等。如：计算机名称、IP地址、访问时间、访问者、操作、共享文件、路径和新路径。如图所示。</p>
                    <p><b>&nbsp;上网流量</b></p>
                    <p>上网流量日志记录的是客户端主机访问网络产生的流量信息。可以查阅计算机对应时段的流量消耗情况。包括计算机名称、IP地址、时间段、上传流浪和下载流量。如图所示。</p>
                    <div class="detail_title">设置</div>
                    <p>设置可对上网防护、白名单、防黑客攻击、受限网址、受限程序、流量管理、安全共享和ADSL共享功能详细设置。如图所示。</p>
                    <p>可以点击相应功能的按钮，进入相应的详细设置项，或者向下滑动滚动条（滚动鼠标滚轮），找到对应设置项。</p>
                    <p><b>&nbsp;上网防护</b></p>
                    <p>上网防护设置项包括：网络防护、木马网址、钓鱼网址、恶意下载、脚本攻击、索引结果、广告过滤、防黑客攻击。</p>
                    <p>点击【上网防护】>【默认分组】>【设置】>【上网防护】，然后可以看到瑞星安全云中心上网防护设置，如图所示。</p>
                    <p>勾选相应功能项的【开机启用】和【记录日志】。</p>
                    <p>所有设置项设置完成后，点击右下角【应用】 ，保存设置。</p>
                    <p><b>&nbsp;白名单</b></p>
                    <p>白名单功能作用于整个上网防护功能，只要在白名单里的网址，均被上网防护忽略，不会拦截。</p>
                    <p>点击【上网防护】>【默认分组】>【设置】>【白名单】，然后可以看到瑞星安全云中心白名单设置，如图所示。</p>
                    <p>勾选启用白名单功能。在输入框中输入白名单网址，点击 ，列表就会显示添加的网址。点击操作下的 可以从白名单中删除。</p>
                    <p>所有设置项设置完成后，点击右下角【应用】 ，保存设置。</p>
                    <p><b>&nbsp;防黑客攻击</b></p>
                    <p>防黑客攻击用于阻击黑客利用各种软件漏洞攻击电脑和手机。</p>
                    <p>点击【上网防护】>【默认分组】>【设置】>【防黑客攻击】，然后可以看到瑞星安全云中心防黑客攻击设置，如图所示。</p>
                    <p>勾选【发现攻击提示用户】，开启防黑客攻击功能。设置阻止攻击源IP时间间隔（例如5分钟）。</p>
                    <p>在防护项中，在操作栏中勾选需要防护的项目。将鼠标放在防护规则区域内，滚动鼠标滚轮，可以查看更多防护项。瑞星安全云目前提供了88个防护规则。</p>
                    <p>所有设置项设置完成后，点击右下角【应用】 ，保存设置。</p>
                    <p><b>&nbsp;受限网址</b></p>
                    <p>受限网址用于企业内部网络访问管理，对某些网站实施管制，提高员工工作效率。可以设置受限时段，可以设置拦截提示，还可以设置拦截后跳转到指定网址。</p>
                    <p>点击【上网防护】>【默认分组】>【设置】>【受限网址】，然后可以看到瑞星安全云中心受限网址设置，如图所示。</p>
                    <p>勾选【开启网址管理】，启用受限网址功能。</p>
                    <p>网址访问记录：可以选择不记录、智能记录、记录所有。</p>
                    <p>受限规则：点击，弹出新增受限网址规则设置窗口。如图所示。</p>
                    <p>设置受限时间。点击受限网址后的 ，添加受限网址。在强制跳转输入框输入跳转到的目标网址。设置完成后点击【确定】。</p>
                    <p>所有设置项设置完成后，点击右下角【应用】 ，保存设置。</p>
                    <p><b>&nbsp;受限程序</b></p>
                    <p>受限程序用于阻止非法程序运行，有效杜绝病毒通过不明程序传播。</p>
                    <p>点击【上网防护】>【默认分组】>【设置】>【受限程序】，然后可以看到瑞星安全云中心受限程序设置，如图所示。</p>
                    <p>受限程序：勾选【开启程序联网】，开启受限程序功能。勾选【启用模块联网通知检查】、【记录拦截日志】和【智能判别信任程序并允许联网】。</p>
                    <p>未知程序：对于未知的程序，可以选择允许、拒绝或者询问。选择允许，每次有未知程序有联网请求时都一律放行；选择拒绝，每次有未知程序有联网请求都一律禁止访问网络；选择询问，每次有未知程序有联网请求都要询问，Windows终端显示效果如图所示。</p>
                    <p>选择【本次放行】时，本次允许该程序联网，下次该程序再次发起联网请求，依然会询问。</p>
                    <p>选择【本次拒绝】时，本次拒绝该程序联网，下次该程序再次发起联网请求，依然会询问。</p>
                    <p>选择【总是放行】时，从此以后，该程序发起的联网请求一律放行。</p>
                    <p>选择【总是拒绝】时，从此以后，该程序发起的联网请求一律拒绝。</p>
                    <p>联网管理列表：点击受限程序后的 ，弹出受限程序规则设置窗口，如图所示。</p>
                    <p>设置受限时间，点击 ，设置受限程序。点击 后，弹出如图所示窗口。</p>
                    <p>在自定义软件标签中，选择路径，在输入框中填写规则。点击【确定】。</p>
                    <p>也可以在服务名标签中输入服务名称，点击【确定】，如图所示。</p>
                    <p>所有设置项设置完成后，点击右下角【应用】 ，保存设置。</p>
                    <p><b>&nbsp;流量管理</b></p>
                    <p>流量管理是对流量统计功能的设置，可以设置流量监控的开启和关闭，可设置记录流量的时间间隔。</p>
                    <p>点击【上网防护】>【默认分组】>【设置】>【流量管理】，然后可以看到瑞星安全云中心流量管理设置，如图所示。</p>
                    <p>开启联网管理：勾选【开启联网管理】，启用流量管理功能。在定时报告时间间隔中输入间隔分钟数。</p>
                    <p>所有设置项设置完成后，点击右下角【应用】 ，保存设置。</p>
                    <p><b>&nbsp;安全共享</b></p>
                    <p>安全共享功能的设置，是对监控共享资源、系统和访问权限的设置</p>
                    <p>点击【上网防护】>【默认分组】>【设置】>【安全共享】，然后可以看到瑞星安全云中心安全共享设置，如图所示。 </p>
                    <p>共享设置：可以勾选【记录共享文件】和【记录访问日志】。</p>
                    <p>系统共享：勾选【关闭默认共享C$/D$/E$】，软件将对计算机默认的共享区域（如C盘、D盘、E盘等）进行关闭。勾选【关闭远程管理ADMIN$】，将关闭ADMIN从远程登录计算机的功能。</p>
                    <p>控制规则：用于设置用户共享规格和禁止访问提示用户规则，勾选【开启共享规则】，勾选【禁止访问提示用户】。</p>
                    <p>共享资源：勾选【记录本机共享文件夹】，将对本机已经共享的文件和文件夹进行记录。</p>
                    <p>列表控制：可以选择【只允许指定IP访问】、【禁止指定IP访问】中的一个。</p>
                    <p>所有设置项设置完成后，点击右下角【应用】 ，保存设置。</p>
                    <p><b>&nbsp;ADSL共享</b></p>
                    <p>ADSL共享设置，可以控制带宽。</p>
                    <p>点击【上网防护】>【默认分组】>【设置】>【ADSL共享】，然后可以看到瑞星安全云中心ADSL共享设置，如图所示。 </p>
                    <p>勾选【开启ADSL共享】，开启ADSL共享。在下方输入总带宽。</p>
                    <p>所有设置项设置完成后，点击右下角【应用】，保存设置。</p>
                    <div class="detail_title">设置</div>
                    <p>安全共享可以对已经共享的文件进行设置。设置向包括：共享名称、物理路径和权限。如图所示。</p>
                    <p>在列表中勾选需要设置的共享，可以对其进行详细设置。</p>
                    <p>所有设置项设置完成后，点击右下角【应用】 ，保存设置。</p>
                </div>
                <div class="detail" id="安全手机"><i>安全手机</i>
                    <div class="detail_title">概览</div>
                    <p>概览展示了所有手机端的终端名称、IP地址、骚扰拦截、定位骚扰拦截时间和病毒库版本。通过点击各列标题栏后的小三角，列表将依照该列进行排序，向上三角表示升序排列，向下三角表示降序排列。如图所示。</p>
                    <p>在列表的右上角，可以点击 刷新列表，点击 进行搜索，可以进行过滤搜索。在弹出的搜索框中，可以根据各功能的开启状态进行过滤，同时在筛选条件一栏可以选择：IP地址、终端名称和病毒库版本。选择好后，点击【筛选】。如图所示。</p>
                    <p>点击列表右上角的 ，可以自定义需要显示的列，勾选表示显示该列，不选则不显示。如图所示。</p>
                    <p>在列表左上角，可以看到立即上报位置按钮。如图所示。</p>
                    <p>在列表中勾选需要操作的终端，然后点击立即上报按钮，则所勾选终端自动执行相应的操作，并弹出提示框，如图所示。</p>
                    <p>同样，这个操作也可以在左侧组管理中实现，如图所示。</p>
                    <p>在终端名一列，可以通过点击终端名称，直接进入该终端的详情页面。包括产品信息和病毒防护信息，如图所示。</p>
                    <p>点击右上角【返回列表】返回到概览主界面。</p>
                    <div class="detail_title">日志</div>
                    <p>日志界面集中显示所有手机终端的日志信息。如图所示。</p>
                    <p>通过日志，可以查看手机终端举报短信、举报电话、威胁详情和安全扫描的日志。</p>
                    <p>通过点击各个日志选项，查看对应的日志。如图所示。</p>
                    <div class="detail_title">设置</div>
                    <p>安全手机的设置可以设置项包括全局设置、查杀设置和防骚扰设置。</p>
                    <p>点击【安全手机】>【默认分组】>【设置】，然后可以看到瑞星安全云中心安全手机设置，如图所示。</p>
                    <p>点击【全局设置】，可以设置安全设置状态栏显示方式，可以选：不显示和显示。</p>
                    <p>点击【查杀设置】，可以设置手机端的查杀方式、处理方式和病毒库更新方式。请用户按需选择即可。</p>
                    <p>点击【防骚扰设置】，可以开启骚扰拦截服务。选择拦截模式，设置拦截时段。如图所示。</p>
                    <p>在最后还可以进行手机定位设置，如图所示。</p>
                    <p>勾选【开启定位服务】，启用手机定位功能，可以设置定位周期和位移距离。</p>
                    <p>所有设置项设置完成后，点击右下角 ，保存设置。</p>
                    <div class="detail_title">手机定位</div>
                    <p>手机定位可以在瑞星安全云中心查询到受保护的安全手机实时位置信息和历史轨迹。还可以通过切换地球模式进行查看（默认是地图模式）。如图所示。</p>

                </div>
                <div class="detail" id="安全网盘"><i>安全网盘</i>
                    <div class="detail_title">网盘文件</div>
                    <div class="detail_title">访问控制</div>
                </div>
                <div class="detail" id="报告预警"><i>报告预警</i>
                    <div class="detail_title">预警规则</div>
                    <p>在预警规则列表，可以选择所需的预警规则。 表示预警规则关闭，再次点击，变为 ，表示预警规则已开启。如图所示。</p>
                    <div class="detail_title">预警记录</div>
                    <p>预警记录是预警规则执行后产生日志，通过日志可以查阅那些预警规则被触发，有利于排查预警出现的问题。如图所示。</p>
                    <p>例如，病毒清理失败后，将会在安全云中心记录预警日志，预警内容如图所示。</p>
                </div>
                <div class="detail" id="我的中心"><i>我的中心</i>
                    <div class="detail_title">账户信息</div>
                    <p><b>&nbsp;企业信息</b></p>
                    <p>初次登陆瑞星安全云中心时，系统会提示企业信息不完整，请按照要求补充完整。如图所示。</p>
                    <p>在账户信息可以浏览瑞星安全云中心账户的基本信息，并可以进行编辑。编辑完信息，点击【保存】。</p>
                    <p>勾选【启用中心密码】后，可以为中心设置终端连接密码，每个新加入的终端需要正确输入中心账号和密码才能加入。如图所示。</p>
                    <p>其他诸如企业名称、所属行业、公司规模请按实际情况填写即可。填写方法：将鼠标移至对应项上，出现 图标，点击 ，然后选择或者输入内容。</p>
                    <p>自定义logo：可以上传本单位的logo，注意logo的格式为：jpg/png，尺寸为：180px*70px，文件大小不能超过1M。</p>
                    <p>头像：可以自定义头像&nbsp;格式：jpg/png &nbsp; 尺寸：72px*72px  &nbsp;大小：100k以内。</p>
                    <p>登录密码：点击【修改】，在密码修改框中输入旧密码、新密码和确认密码，点击【确定】，如图所示。</p>
                    <p>联系电话、联系地址和邮政编码根据实际情况填写。</p>
                    <p>所有信息填写完毕，点击 ，否则所填内容不会生效。</p>
                    <p><b>&nbsp;云中心信息</b></p>
                    <p>账户信息页面中，最右侧是云中心终端的基本监控信息和瑞星安全云终端技术支持联系方式。如图所示。 </p>
                    <p>通过云中心信息，可以大致了解云中心的授权状态，请及时为授权即将到期的云中心续费。</p>
                    <p>除此之外，还可以看到终端系统分布，云中心存储信息情况，如：病毒查杀、主机防御、网络防护、上网管理的信息条数和占用存储空间。</p>
                    <p>联系我们：</p>
                    <p>咨询热线: 400-650-6025</p>
                    <p>邮件联系：sales@rising.com.cn</p>
                    <p>产品论坛：<a href="http://bbs.ikaka.com" target="_blank" title="产品论坛">http://bbs.ikaka.com</a></p>
                    <p>微信公众号：Weixin-Rising，或者直接微信扫码</p>
                    <p></p>
                    <p>在预警规则列表，可以选择所需的预警规则。 表示预警规则关闭，再次点击，变为 ，表示预警规则已开启。如图所示。</p>
                    <div class="detail_title">我的消息</div>
                    <p>我的消息是对瑞星安全云中心所有的消息进行集中查询和管理。可标记消息状态，未读消息右侧都有 图标，读取消息后图标消失，或者点击操作中的 按钮，标记为已读。勾选多个消息记录，然后点击 ，可以批量将消息记录标记为已读；点击 ，可以批量将消息记录删除。如图所示。</p>
                    <p>在列表中勾选要删除的消息记录，点击 可以进行批量删除。或者直接点击某条消息记录后的 进行删除操作。</p>
                    <div class="detail_title">审计日志</div>
                    <p>审计日志记录瑞星安全云中心账户的操作日志，包括登录、注销、下发的命令。如图所示。</p>
                    <p>在列表中勾选不需要的日志，点击【删除】可以进行批量删除。如图所示。</p>
                    <p>点击【确认】，完成批量删除。如需清空日志，直接点【清空】，弹出如图所示确认界面，点击【确认】，所有日志将被清空，请谨慎操作。
                    </p>
                </div>


                <!-- 内容区end -->

        </div>
    </div>
    <script src="../js/instruction/jquery-3.1.1.min.js"></script>
    <script src="../js/instruction/jquery.slimscroll.min.js"></script>
    <script src="../js/instruction/jquery.nav.js"></script>
    <script src="../js/instruction/instruction.js"></script>
</body>
</html>