<div class="home_info">
	<div class="content_1">
		<p class="font_info">尊敬的用户您好！您目前获得瑞星授权终端<span>0</span>台。</p>
	</div>
	<div class="content_1_overdue">
		<p class="font_info">尊敬的用户您好！您目前获得瑞星授权终端<span>0</span>台，其中<i>部分子产品</i>已过期，请及时导入授权。</p>
		<a class="submit_info js_sq_box_show" href="javascript:void(0)">导入授权</a>
	</div>
	<div class="content_1_soon">
		<p class="font_info">尊敬的用户您好！您目前获得瑞星授权终端<span>0</span>台，其中<i>部分子产品</i>即将过期，请及时导入授权。</p>
		<a class="submit_info js_sq_box_show" href="javascript:void(0)">导入授权</a>
	</div>
	<div class="content_2">
		<span class="content_title">今日授权数据</span>
		<div class="echart_box1">
			<span><strong>Windows</strong>共<em>0</em>台</span>
			<div class="echart_box1_wrap"></div>
		</div>
		<div class="echart_box2">
			<span><strong>Linux</strong>共<em>0</em>台</span>
			<div class="echart_box2_wrap"></div>
		</div>
	</div>
	<div class="content_3">
		<ul>
			<li>今日授权：<span class="today_num">0</span><em>台</em></li>
			<li>未授权：<span class="unauth_num">0</span>
				<em>台</em>
				<div class="pop_img">
					<i class="detail_img"></i>
					<div class="pop_info">
						<i class="pop_info_arr"></i>
						<div class="pop_info_bod">未授权：当天终端超出授权数或授权过期。</div>
					</div>
				</div>
				<a class="expan_toggle js_sq_box_show" href="javascript:void(0)">立即扩容</a>
			</li>
			<li>历史授权总数：<span>0</span><em>台</em>
				<div class="pop_img">
					<i class="detail_img"></i>
					<div class="pop_info pop_right">
						<i class="pop_info_arr"></i>
						<div class="pop_info_bod">历史授权总数：历史成功授权过的终端总数。</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="content_4">
		<span class="content_title">近7日授权历史</span>
		<div class="echart_box3">
		</div>
		<div class="list_box">
			<span class="content_title">最近授权终端</span>
			<div class="view_more"><a href="/index/home#home/term">查看更多</a></div>
			<div class="view_table">
				<table>
					<thead>
						<tr>
							<th>终端名称</th>
							<th>IP地址</th>
							<th>MAC地址</th>
							<th>时间</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan="4" style="text-align:center;">暂无数据</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>